


.logo{
	overflow: hidden;
	padding-left: 0;
	display:inline-block;

}
.logo .img {
	background-color: #131313;
	padding-top: 48px;
	padding-left: 150px;
	
	color: #131313;

}
.logo .btn{
	overflow: hidden;
	width:121px;
	height: 121px;
	background: #AE4F83;
	padding-top: 0;
	padding-left: 0px;
	color: white;
	font-weight:100;
	float: left;
}
.logo .btn a i{
	padding-top: 40px;
	padding-left: 12px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	position: relative;
	overflow: hidden;

}
.logo .btn > a{
	top: 20px;
}
.logo .btn{
	position: relative;
	transition:all 0.5s ease;
}
.logo .btn .overley{
  background:black;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:0.5;
}
.logo .btn:before {
  content:"";
  top:-154PX;
  left:-198px;
  width:215px;
  height:190px;
  background: white;
  transition:all 0.5s;
  transform:rotate(40deg) scale(0);
  position:absolute;
  overflow: hidden;
  opacity: 0.1;
}
.logo .btn:hover .fa {
	transition:all 0.5s ease;
	transform:scale(1.1);
}
.logo .btn:hover:before{
  top:-25px;
  opacity: 0.2;
  left:-20px;
  transition:0.7s;
  display:inline-block;
}
.logo .btn:hover:before {
  transform:scale(1.5);
}

.header{
	position: fixed;
	background: #131313;
	height: 117px;
	z-index: 300;
	right: 0;
	left: 0;
}
.nav   > li > a{
	text-decoration: none;
    /*font: 300 18px/20px "Jura",sans-serif;*/
    font-size: 15px;
    font-family: sans-serif;
  
	padding-left: 30px;
	padding-top: 53px;
	color: #4A4A4A;
	position: relative;
}
.nav {
	padding-left: 0px;
	margin-left: -40px;
	

}
.nav   > li > a:hover{
	color: white;
	transition: 0.3s;
	transition-timing-function: linear;

}
.contact .nas,.user,.bukech,.search{
	border-left: 1px solid grey;
	overflow: hidden;
	width: 113px;
	height: 117px;
	color: white;
}
.contact .nas i{
	padding-left: 35%;
	padding-top: 40%;
	font-size: 35px;		
}
.contact .user i{
	padding-left: 35%;
	padding-top: 40%;
	font-size: 35px;
	
	
}
.contact .bukech i{
	padding-left: 35%;
	padding-top: 40%;
	font-size: 35px;	
}

.contact .search i{
	padding-left: 35%;
	padding-top: 40%;
	font-size: 35px;
	
}
.contact .nas:before{
  content:"";
  top:-154PX;
  left:-198px;
  width:215px;
  height:190px;
  background: #AE4F83;
  transition:all .1s;
  transform:rotate(45deg);
  position:absolute;
  overflow: hidden;
}

.contact .nas:hover:before{
  top:-25px;
  left:-20px;
  transition:0.3s;
}
.contact .nas:hover .fa{
	transition:all 0.5s ease;
	transform:scale(1.1);
}
.contact i{
	position: relative;
}
.contact .user:before{
  content:"";
  top:-154PX;
  left:-198px;
  width:215px;
  height:190px;
  background: #AE4F83;
  transition:all .1s;
  transform:rotate(45deg);
  position:absolute;
  overflow: hidden;
}
.contact .user:hover:before{
  top:-25px;
  left:-20px;
  transition:0.3s;  
}

.contact .user:hover .fa{
	transition:all 0.5s ease;
	transform:scale(1.1);
}

.contact .bukech:before{
  content:"";
  top:-154PX;
  left:-198px;
  width:215px;
  height:190px;
  background: #AE4F83;
  transition:all .1s;
  transform:rotate(45deg);
  position:absolute;
  overflow: hidden;
}
.contact .bukech:hover:before{
  top:-25px;
  left:-20px;
  transition:0.3s;
  
}

.contact .bukech:hover .fa{
	transition:all 0.5s ease;
	transform:scale(1.1);
}

.contact .search:before{
  content:"";
  top:-154PX;
  left:-198px;
  width:215px;
  height:190px;
  background: #AE4F83;
  transition:all .2.5s;
  transform:rotate(46deg);
  position:absolute;
  overflow: hidden;
}
.contact .search:hover:before{
  top:-25px;
  left:-20px;
  transition:0.3s;
}
.contact .search:hover .fa{
	transition:all 0.5s ease;
	transform:scale(1.1);
}
/*.contact.search:after{
  content:'';
  position:relative;
  transition:all .5s;
  display:inline-block;
  
}*/
/*.contact.search i:hover:after {
  display:inline-block;
  transform:scale(2.5);
}*/
.slider{
	left: 0;
	height: 100%;
	top: 0px;
	width: 100%;
	position: relative;
}
.slider ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.slider ul li{
	position: absolute;
}
.slider ul li img{
	position: relative;
	width: 100%;
	height: 100%;
}

.slider .slider-button{
	width: 240px;
	height: 60px;
	background: #AE4F83;
	position: absolute;
	right: 401px;
	margin-top: 470px;
	text-align:center;
	cursor: pointer;
}
.slider .slider-button a{

font-size: 16px;
line-height: 60px;
color: white;
font-weight: 200;
text-decoration: none;
}
.slider .slider-button{
	overflow: hidden;
}
.slider .slider-button:before{
  content:"";
  top: -103px;
  bottom: 315px;
  right: 53px;
  width: 731px;
  height: 394px;
  background: white;
  transition:all 0.5s;
  transform:rotate(50deg);
  position:absolute;
  overflow: hidden;
  opacity: 0.2;
}
.slider .slider-button:hover:before{
  top:-330PX;
  right: -215px;
  transition:0.5s;
}

.slider-buttons{
	width: 303px;
	height: 5px;
	color: white;
	position:absolute;
	right:250px;
	top: 600px;
}
.slider-buttons .item{
  display:inline-block;
  list-style-type:none;
  margin:0;
  padding:0;
  text-align:right;
  overflow:hidden;
  cursor:pointer;
  margin-right:-4px;
}
.slider-buttons .item:after {
  content:'';
  background:white;
  width:100px;
  height:5px;
  position:relative;
  left:90%;
  display:block;
  transition:all .5s;
}
.slider-buttons .item:before {
  content:'';
  display:block;
  border-top:2px solid white;
  position:relative;
  top:20px;
}

.slider-buttons .item:hover:after {
  left:0;
}
.slider-buttons .item.active:after {
  left:0;
}
.log{
	position:relative;
	color: red;
}
.container1{
	width: 100px;
	height: 100px;
	background: grey;
	position: relative;
}










































/*.slider .btn1{
	z-index: 3;
	margin-top: 600px;
	margin-left: 1000px;
}
.slider .btn1 > button{
	width: 100px;
	height: 9px;
}
.slider .btn1 .active{
	position: relative;
    background: red;
}
.slider .btn1:hover{


	
}*/
.slider .images li p{
	position: absolute;
	font-size: 3.5em;
	margin-top: -320px;
	right: 300px;
	padding: 0;
	color: white;



















/*

body {
  margin:40px;
}
.cls {
  position:relative;
  margin:0;
  padding:0;
}

.cls .item {
  display:inline-block;
  list-style-type:none;
  margin:0;
  padding:0;
  text-align:right;
  overflow:hidden;
  cursor:pointer;
  margin-right:-4px;
}

.cls .item:after {
  content:'';
  background:red;
  width:100px;
  height:5px;
  position:relative;
  left:90%;
  display:block;
  transition:all .5s;
}
.cls .item:before {
  content:'';
  display:block;
  border-top:2px solid red;
  position:relative;
  top:18px;
}
.cls .item:hover:after {
  left:0;
}
.cls .item.active:after {
  left:0;
}*/